# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy JAR app to Azure Web App - mwo-app

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Java version
        uses: actions/setup-java@v1
        with:
          java-version: '17'
          
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: compile
        run: mvn compile
      - name: test
        run: mvn test

      - name: Build with Maven
        run: mvn clean install

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: java-app
          path: '${{ github.workspace }}/target/*.jar'
          
      
  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
     - name: print
       run: ls -la
     - name: Set up Maven
       uses: stCarolas/setup-maven@v4.5
       with:
         maven-version: 3.8.2
     - name: Publish JAR
       run: ./mvnw -B release:prepare release:perform
       env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  deploy-dev:
    runs-on: ubuntu-latest
    needs: release
    environment:
      name: 'Dev'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: java-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'mwo-app-dev'
          slot-name: 'Production'
          publish-profile: ${{ secrets.PUBLISH_PROFILE_DEV }}
          package: '*.jar'

  deploy-prod:
    runs-on: ubuntu-latest
    needs: release
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: java-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'mwo-app'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_E3A501C3247F48408333A547DED885A9 }}
          package: '*.jar'
